
@model EFMVC.BusinessTier.TwitterStreamModel
@{
    ViewBag.Title = "Twitter Stream";
}

<style type="text/css">
    .row {
        margin-top:5px;
        margin-bottom:5px;
    }

    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px #98BF21;
        background-color: white;
    }

    .webgrid-table td, th {
            border: 1px solid #98BF21;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: #A7C942;
        color: #FFFFFF;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: #EAF2D3;
        padding: 3px 7px 2px;
    }
</style>

@using (Html.BeginForm("TwitterStream", "TwitterStream"))
{
    @Html.HiddenFor(a => a.Person.UserId)
    <div class="container">
        <div class="row"> 
            <div class="col-lg-3">
                <h3>My Twitter Clone</h3>
            </div>
            <div class="col-lg-3">
                <h5>Welcome @Model.Person.FullName</h5>
            </div>
            <div class="col-lg-3">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "TwitterStream", "TwitterStream")</li>
                    <li>@Html.ActionLink("Profile", "Profiles", "Login")</li>
                    <li>@Html.ActionLink("Logout", "Login", "Login")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            Follow
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.TextBoxFor(model => model.SearchText, new { Style = "width:200px" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" value="Search">Search</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            @{ var grid1 = new WebGrid(source: Model.PersonList);
                @grid1.GetHtml(htmlAttributes: new { id = "DataTable1" }, columns: grid1.Columns(
     grid1.Column("FullName"),
     grid1.Column("Edit", header: "Edit", format: 
     @<text>@Html.ActionLink((item.IsFollowing ? "UnFollow" : "Follow"), "FollowUser", "TwitterStream", new { id = item.UserId }, new { target = "_blank" })</text>)
                                                                                                                                                                 ));
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-6">
                                <h5>what are you doing?</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                @Html.HiddenFor(model => model.CurrentTweet.TweetId)
                            </div>
                            <div class="col-lg-9">
                                @Html.TextAreaFor(model => model.CurrentTweet.Message, new { Style = "width:100%" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-3">
                                <button type="submit" value="Update">Update</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-9">
                                <div id="DivGrid">
                                    @{  var grid = new WebGrid(source: Model.TweetList);
                                    @grid.GetHtml( htmlAttributes: new { id = "DataTable" }, columns: grid.Columns(
                              grid.Column("FullName"),
                              grid.Column("Message"),
                              grid.Column("Created"),
                              grid.Column("Edit", header: "Edit", format: @<text>@Html.ActionLink( "Edit", "EditTweet", "TwitterStream", new { id = item.TweetId }, new { target = "_blank" })</text>),
                grid.Column("Delete", header: "Delete", format: @<text>@Html.ActionLink("Delete", "DeleteTweet", "TwitterStream", new { id = item.TweetId }, new { target = "_blank" })</text>)));
                                         
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
                                        }
